name: Build Windows EXE

on:
    workflow_dispatch:

jobs:
    build-windows:
        runs-on: windows-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.12"

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install pyinstaller opencv-python numpy pillow customtkinter

            - name: Build EXE
              run: |
                  pyinstaller --onefile --windowed v2.py

            - name: Check dist contents
              run: |
                  dir dist

            - name: Upload EXE artifact
              uses: actions/upload-artifact@v4
              with:
                  name: Windows-EXE
                  path: dist/v2.exe